/*
 * GIT Kompendium
 */

 .git {
    display: flex;
    flex-flow: wrap;
    position: relative;
 }

 .git-titel {
     margin: 5px;
     position: relative;
     top: 10px;
     width: 550px;
     font-size: larger;
}

.git-titel p, .git-titel div {
    border: 1px solid black;
    padding: 0px 0px 0px 10px;;
}

.git-titel div pre {
    margin: 10px 0 0;
}

.git-titel p {
    background-color: #521751;
    color: white;
    text-align: center;
    margin: 0;
    font-size: large;
}

.git-titel img {
    width: 500px;
    margin: 10px;
}